/* Button Hover */
.btn-dark:hover {
    background-color: #333333 !important;
    color: white !important;
  }
  
  /* Link Hover */
  .btn-link:hover {
    text-decoration: underline;
    color: #0056b3 !important;
  } 