.newsletter {
    background: linear-gradient(180deg, #66c2ff 0%, #1a8cff 60%);
  }
  
  .newsletter .form-control {
    box-shadow: none;
  }
  
  .newsletter .btn:hover {
    background-color: #333333;
  }