.cart-item-rating {
    display: flex;
    align-items: center;
    margin: 0; /* Remove any default margin */
  }
  
  .cartItem-rating-badge {
    display: flex;
    align-items: center;
    margin: 0; /* Remove any default margin */
  }
  
  .cartItem-rating-count {
    margin-left: 6px; /* Adjust if needed */
  }
  
  
  .fw-bold {
    margin-bottom: 4px; /* Adjust spacing below the title */
  }