
.cart-item-rating {
    display: flex;
    align-items: center;
    margin: 0; /* Remove any default margin */
  }
  
  .cartItem-rating-badge {
    display: flex;
    align-items: center;
    margin: 0; /* Remove any default margin */
  }
  
  .cartItem-rating-count {
    margin-left: 6px; /* Adjust if needed */
  }
  
  
  .fw-bold {
    margin-bottom: 4px; /* Adjust spacing below the title */
  }
  .cartitem-remove-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  .cartitem-remove-btn:hover {
    color: #e63946; /* Highlight color on hover */
    transform: scale(1.2); /* Slight enlarge effect */
  }